<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles/home.css" type="text/css">
<link rel="stylesheet" href="/styles/noheader.css" type="text/css">
<title>Document</title>
</head>
<body>
    <div class="flexbox">
    <header>
        <h1>List Buddy</h1>
            <nav class="navbar navbar-expand bg-dark">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/homepage">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Add</a>
                        <div class="dropdown-menu">
                            <a href="/store/new" class="dropdown-item">Store</a>
                            <a href="/product/new" class="dropdown-item">Product</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Stores</a>
                            <div class="dropdown-menu">
                                <% stores.forEach(store => { %>
                                    <a class="dropdown-item" href="/store/<%=store._id%>"><%= store.name %></a> 
                              <% }) %>
                            </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Lists</a>
                            <div class="dropdown-menu">
                                <% lists.forEach(list => { %>
                                    <a class="dropdown-item" href="/store/<%=list.store%>/<%= list._id %>"><%= list.name %></a> 
                              <% }) %>
                            </div>
                    </li>
                        <form class="form-inline logout" action="/logout?_method=DELETE" method="POST">
                            <input class="form-control mr-sm-2" type="submit" value="Logout">
                        </form>
                </ul>
                
                
                
            </nav>
        </header>
        <main>
            <div class="content content-fixed">
                <h1><%= store.name %> </h1>
                <h3>Store data:</h3>
                <p class="storeData">Type of store: <%= store.type %> </p>
                <p class="storeData">Cost: <%= store.expensive %> </p>
                <br>
                <section>
                    <a href="/store/<%= store._id %>/edit">(edit store)</a>
                </section>
                <br>
                <section>
                    <form action="/store/<%= store._id %>?_method=DELETE" method="POST">
                        <input class="store-delete" type="submit" value="Delete store">
                    </form>
                </section>
                <br>
                <br>
                
                
                <h3>Your shopping lists for <%= store.name %></h3>
                <a class="new-list-link" href="/store/<%= store._id %>/new-list">Create New Shopping List</a>
                
                
                <% store.lists.forEach(list => { %>
                    <p>
                        <a href="/store/<%= store._id %>/<%= list._id %>">
                            <%= list.name %> 
                        </a>
                    </p>
                <% }) %>
                <br>
                
        
                
        
                
                <h3><%= stores.name %> Products </h3>
                <a class="new-item-link" href="/product/new">Create New Items</a>
                
                <p>
                    <ul>
                        <% store.products.forEach(product => { %>
                            <li><%= product.name %></li>
                    <% }) %>
                    </ul>
                </p>
                <!-- <a href="/product">Products from <%= store.name %> </a> -->
                <br>
                <br>
            </div>
        </main>
        
    </div>
    
</body>
</html>