<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= stores.name %> </h1>
    <h3>Store data:</h3>
    <p>Type of store: <%= stores.type %> </p>
    <p>Cost: <%= stores.expensive %> </p>
    <br>
    <section>
        <a href="/store/<%= stores._id %>/edit">(edit store)</a>
    </section>
    <br>
    <section>
        <form action="/store/<%= stores._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete store">
        </form>
    </section>
    <br>
    <br>
    <p>
        <a href="/store/<%= stores._id %>/new-list">Create New Shopping List</a>
    </p>
    <p>
        <h3>Your shopping lists for <%= stores.name %> </h3>
        
    </p>
    
    <% stores.lists.forEach(list => { %>
        <p>
            <a href="/store/<%= stores._id %>/<%= list._id %>">
                <%= list.name %> 
            </a>
        </p>
    <% }) %>
    

    

    <p>
        <a href="/product/new">Create New Items</a>
    </p>
    <p>
        <ul>
            <% stores.products.forEach(product => { %>
                <li><%= product.name %></li>
           <% }) %>
        </ul>
    </p>
    <p>
        <a href="/product">Products from <%= stores.name %> </a>
    </p>
    <br>
    <br>
    <br>
    <a href="/store">All Stores</a>
</body>
</html>