<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= stores.name %> </h1>
    Type of store: <%= stores.type %>
    Cost: <%= stores.expensive %> 
    <p>
        <a href="">Create New Shopping List</a>
    </p>
    <p>
        <h3>Your shopping lists for <%= stores.name %> </h3>
        
    </p>
    <p>
        <a href="/product/new">Create New Items</a>
    </p>
    <p>
        <a href="/product">Products from <%= stores.name %> </a>
    </p>
    <br>
    <br>
    <br>
    <a href="/store">All Stores</a>
</body>
</html>