<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>List Show Page</title>
</head>
<body>
    <div>
        <h1><%= lists.name %> </h1>
        
        <% lists.products.forEach(product => { %>
            <p>
                <%= product.name %> 
            </p>
        <% }); %>

        <br>
        <a href="/store/<%= store %>">Back to store</a>
        <form action="/store/<%= store %>/<%= lists._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete List">
        </form>
    </div>
</body>
</html>